.git
.gradle
.gradle-user-home
.idea
.vscode
build
**/build
**/.gradle
**/.gradle-user-home

.env
.env.*

evolab_runs
**/*.log

evolab-frontend/EvoLabAsAService/node_modules
evolab-frontend/EvoLabAsAService/dist
